
<div class="container max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <% @appointments.each do |appointment| %>
    <ol class="list-group list-group-numbered text-center">
      <li class="list-group-item">
        <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <%= image_tag appointment.doctor.category.name%>
          </div>
          <div class="p-6 text-center">
            <h4 class="mb-2 block font-sans text-2xl text-white font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            <%= appointment.doctor.category.name %> <%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %>
            </h4>
            <p class="block text-sm text-gray-500 truncate dark:text-gray-400">
            <% if appointment.recommendation.present? %>
              Recommendation from doctor: <%= appointment.recommendation %>
            <% else %>
              Recommendation from doctor: Not yet..
            <% end %>
            </p>
          </div>
        </div>
      </li>
      <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        <li class="pb-3 sm:pb-4">
          <div class="flex items-center space-x-4 ">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                <%= appointment.doctor.phone %>
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Date&Time: <%= appointment.created_at %>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </ol>
  <% end %>
</div>
