<div class="container" style="width: 500px;">
  <ol class="list-group list-group-numbered text-center">
    <% @appointments.each do |appointment| %>
      <li class="list-group-item">
        <%= appointment.doctor.category.name %> <%= appointment.doctor.first_name %> <%= appointment.doctor.last_name %> <br>
        <% if appointment.recommendation.present? %>
          Recommendation: <%= appointment.recommendation %>
        <% else %>
          <p>Not yet..</p>
          Date&Time: <%= appointment.created_at %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
