  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "max-w-xs w-full bg-slate-800 shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
    <div class="mb-4">
      <%= f.label :phone, class: "block text-white text-sm font-bold mb-2" %>
      <%= f.phone_field :phone, autofocus: true, autocomplete: "phone", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-white text-sm font-bold mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <label class="flex items-center">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
          <span class="text-sm text-white text-gray-700">Remember me</span>
        </label>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Log in", class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center text-white text-center" %>
    </div>
  <% end %>
