<div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <% @category.doctors.each do |doctor| %>
    <%= image_tag doctor.category.name, class: "rounded-t-lg", style: "height: 550px" %>
    <div class="p-5 text-center">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= doctor.first_name %> <%= doctor.last_name %></h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= doctor.category.name %></p>
      <% if user_signed_in? %>
        <%= form_tag appointments_path, method: :post do %>
          <%= hidden_field_tag :doctor_id, doctor.id %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <% if doctor.appointments.opened.count >= Doctor::MAX_APPOINTMENT_COUNT %>
            <%= button_to 'Busy schedule', '#', disabled: true, class: 'disabled-button text-white' %>
            <% else %>
            <%= submit_tag 'Make an appointment', class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
